NEXT_PUBLIC_SUPABASE_URL=https://ukmdtdoycxabmfhysjfj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrbWR0ZG95Y3hhYm1maHlzamZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NDkzNTIyMDEsImV4cCI6MTk2NDkyODIwMX0.83Q2zJqvh_7VTLlbJSsSHhqtG15B1qYeadPtDntjxI0
NEXT_PUBLIC_SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrbWR0ZG95Y3hhYm1maHlzamZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NDkzNTIyMDEsImV4cCI6MTk2NDkyODIwMX0.83Q2zJqvh_7VTLlbJSsSHhqtG15B1qYeadPtDntjxI0